<footer>
    <h4>&copy; Tamanash, 2023</h4>
    <div id="footer-links">
        <ul>
            <li>
                <!-- Sign In Link -->
                <a href="/users/sign-in">Sign In</a>
            </li>
            <li>
                <!-- Sign Up Link -->
                <a href="/users/sign-up">Sign Up</a>
            </li>
        </ul>
    </div>
</footer>