<!-- CSS -->
<link rel="stylesheet" href="/css/auth.css">

<!-- Main Container -->
<div class="flex-center auth-container">
    <div class="auth-form">
        <img src="/images/user.png" height="150px" width="150px">
        <h2>Reset Password</h2>
        <h4><%= locals.email %></h4>
        <form id="update-password" class="flex-center" action="/users/update-password/<%= locals.token %>" method="post">

            <!-- New Password Field -->
            <div class="form-group">
                <input type="password" class="form-control" placeholder="New Password" name="newPassword" required>
            </div>

            <!-- Confirm Password Field -->
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" required>
            </div>

            <div style="margin-top: 5px;"></div>

            <!-- Submit Button -->
            <div class="form-group">
                <button type="submit" class="flex-center btn btn-primary">
                    <i class="fas fa-key"></i>
                    &nbsp;
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</div>